<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26773230255-78s7n261an8tvlcj5j02frh5ij8ao380.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26773230255-78s7n261an8tvlcj5j02frh5ij8ao380</string>
	<key>API_KEY</key>
	<string>AIzaSyCjJxqV3nC4VmRzFCUz1zXAxIoT1YWJ0x8</string>
	<key>GCM_SENDER_ID</key>
	<string>26773230255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AuthProject</string>
	<key>PROJECT_ID</key>
	<string>authproject-b5418</string>
	<key>STORAGE_BUCKET</key>
	<string>authproject-b5418.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26773230255:ios:856bdfde9dd142e40e7a5a</string>
	<key>DATABASE_URL</key>
	<string>https://authproject-b5418.firebaseio.com</string>
</dict>
</plist>